doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HOME
    body 

        
        
        h1 LETSS GOOO!!!!
        ul
            each val in quotes
                li= val.quote
        