header 
  ul 
    li 
      a(href="/") home
    li 
      a(href="/login") add quotes :D please
    li 
      a(href="/api", target="_blank") API
    li 
      a(href="/api/random", target="_blank") random quote
